body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002;
    color: antiquewhite;
}

.homePage {
    min-height: 95vh;
    width: 98vw;
    height: 95vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/tunnel3.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.homePage_title {
    background-color: #002a;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text {
    width: 30vw;
    text-align: center;
    margin: 1vh 1vw;
}

.title {
    font-size: 10vh;
}

.points1 {
    /* width: 100%; */
    font-size: 5vh;
    line-height: 0.5;
    text-align: left;
    margin: 0 4vh;
    align-self: flex-start;
}

.points2 {
    /* width: 100%; */
    font-size: 5vh;
    line-height: 0.5;
    text-align: right;
    margin: 0 4vh;
    align-self: flex-end;
}

.names {
    font-size: 3vh;
    width: 30vh;
    text-align: center;
}

.homePage_instruction {
    background-color: #002a;
    margin: 3vh;
    height: 3vh;
    padding: 0.5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* pdf */

.statment {
    cursor: pointer;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(images/tunnel3.png);
}

.container {
    margin: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    height: 95vh;
    background-color: #223e;
}

.statment_title {
    width: 90vw;
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* padding: 3vh; */
    overflow-y: scroll;
    position: relative;
    padding: 7vh 0 0 0;
}

.statment_title h1 {
    font-size: 6vh;
}

.statment_title p {
    font-size: 2.4vh;
}

.statment_instruction {
    margin: 0 0 0 0;
    max-width: 50vw;
    text-align: center;
}

.statment_title h1 {
    font-size: 5vh;
}

.statment_title h1,
p {
    max-width: 70vw;
    text-align: center;
    margin: 2vh;
}

.galleryTitle1 {
    position: absolute;
    top: 10vh;
    left: 8vw;
    max-width: 2vh;
    text-orientation: upright;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.galleryTitle1 p {
    background-color: #002a;
    padding: 2vh;
    font-size: 6vh;
    margin: 0;
    height: auto;
    word-wrap: break-word;
    text-align: center;
    margin: 2vh 2vh;
}

.galleryTitle2 {
    position: absolute;
    top: 25vh;
    right: 8vw;
    max-width: 2vh;
    text-orientation: upright;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.galleryTitle2 p {
    background-color: #002a;
    padding: 2vh;
    font-size: 6vh;
    margin: 0;
    height: auto;
    word-wrap: break-word;
    text-align: center;
    margin: 2vh 2vh;
}

.a-enter-vr-button {
    display: none;
}

.a-info-message-button {
    display: none;
}